<hmtl> 
<body> 
<pre> 
This is a crude dashboard for cGEnIE experiments running on gaia-0-1. 

A total of 62 [attempted] experiments have been run on gaia-0-1 in the last 7 days. 
A total of 66 [attempted] experiments have been run on gaia-0-1 in the last month. 
A total of 66 [attempted] experiments have been run on gaia-0-1 in the last year. 

Refreshed on 2023-01-26 at 12.03AM.

</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_17.47.log has been running for 19023.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.02.log has been running for 17733.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.12.log has been running for 18715.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.17.log has been running for 19578.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.22.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.27.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.32.log has been running for 18961.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.37.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.42.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.47.log has been running for 19685.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.23.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.25.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.26.log has been running for 14.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.34.log has been running for 4559.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.39.log has been running for 3971.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.44.log has been running for 3599.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.49.log has been running for 3375.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.54.log has been running for 3292.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.59.log has been running for 3975.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.04.log has been running for 3414.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.09.log has been running for 4326.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.14.log has been running for 4314.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.19.log has been running for 4395.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.24.log has been running for 4574.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.29.log has been running for 4418.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.34.log has been running for 4581.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.39.log has been running for 3127.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.44.log has been running for 3953.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.49.log has been running for 2925.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.54.log has been running for 3509.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.59.log has been running for 3331.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.04.log has been running for 2913.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.09.log has been running for 3495.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.14.log has been running for 3031.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.19.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.24.log has been running for 3134.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.29.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.34.log has been running for 2814.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.39.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.44.log has been running for to model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.49.log has been running for 3491.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_14.14.log has been running for loc_O2_swiflux model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.27.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.30.log has been running for cannot model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.35.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.40.log has been running for *** model years
</pre>
</body>
</html>
