<hmtl> 
<body> 
<pre> 
This is a crude dashboard for cGEnIE experiments running on gaia-0-1. 

A total of 8 [attempted] experiments have been run on gaia-0-1 in the last 7 days. 
A total of 8 [attempted] experiments have been run on gaia-0-1 in the last month. 
A total of 8 [attempted] experiments have been run on gaia-0-1 in the last year. 

Refreshed on 2023-01-16 at 04.02PM.

</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.36.log has been running for 71.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.39.log has been running for 61.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.42.log has been running for 56.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.45.log has been running for 43.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.49.log has been running for 28.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.52.log has been running for 22.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_15.55.log has been running for 13.00 model years.
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_16.02.log has been running for [01;35m[KWarning:[m[K model years.
</pre>
</body>
</html>
