<hmtl> 
<body> 
<pre> 
This is a crude dashboard for cGEnIE experiments running on gaia-0-1. 

A total of 62 [attempted] experiments have been run on gaia-0-1 in the last 7 days. 
A total of 66 [attempted] experiments have been run on gaia-0-1 in the last month. 
A total of 66 [attempted] experiments have been run on gaia-0-1 in the last year. 

Refreshed on 2023-01-26 at 11.33PM.

</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_17.47.log has been running for 19023.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.02.log has been running for 17733.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.12.log has been running for 18715.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.17.log has been running for 19578.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.22.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.27.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.32.log has been running for 18961.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.37.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.42.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-16_18.47.log has been running for 19685.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.23.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.25.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.26.log has been running for 14.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.34.log has been running for 7731.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.39.log has been running for 6264.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.44.log has been running for 5944.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.49.log has been running for 5583.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.54.log has been running for 6206.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_11.59.log has been running for 6111.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.04.log has been running for 5580.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.09.log has been running for 6770.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.14.log has been running for 7308.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.19.log has been running for 7896.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.24.log has been running for 7747.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.29.log has been running for 7809.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.34.log has been running for 8078.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.39.log has been running for 5278.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.44.log has been running for 6472.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.49.log has been running for 4950.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.54.log has been running for 6648.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_12.59.log has been running for 6370.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.04.log has been running for 5743.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.09.log has been running for 6141.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.14.log has been running for 4936.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.19.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.24.log has been running for 5878.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.29.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.34.log has been running for 5293.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.39.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.44.log has been running for to model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_13.49.log has been running for 5452.00 model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_14.14.log has been running for loc_O2_swiflux model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.27.log has been running for "/usr/bin/unbuffer" model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.30.log has been running for cannot model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.35.log has been running for *** model years
</pre>
</body>
</html>
<hmtl> 
<body> 
<pre> 
Job /home/gaia-0-1/cgenie_log/cGEnIE.output_2023-01-24_17.40.log has been running for *** model years
</pre>
</body>
</html>
